# BOT SETUP
BOT_NAME=<Bot name used for commands>
MONGO_DATABASE=<mongo db address>

# TELEGRAM API
TEL_API_KEY=<api key provided by botfather>

# DISCORD API
BOT_DISPLAY_NAME=<display name to be set and updated for usernames in discord>
DISCORD_API_KEY=<api key provided by discord app manager>

# WEB API
OAUTH_CLIENT_ID=<google oauth id>
OAUTH_CLIENT_SECRET=<google oauth password>
OAUTH_ADMIN_ID=<google account ID for administrator privlege, acquire from google+>

# MEME GENERATOR
MG_USER=<meme generator username>
MG_PASS=<meme generator password>
MG_API_KEY=<meme generator api key>

# AMAZON DEVELOPERS/ADVERTISERS API
AWS_ID=<aws ID>
AWS_SECRET=<aws secret>
AWS_TAG=<aws advertisers tag>