<div id='wrapper'>
    <form action="/MarkovModule/uploadfile" method="post" enctype="multipart/form-data">
        <input type="file" name="inputfile"/><br/>
        <input type="submit"/>
    </form>
</div>