<div id='wrapper'>
    <div id='content'>
        <div id='text'>
        </div>
    </div>
    <div id='input' class='input-group'>
        <input type='text' id='field' class='form-control' rows='1' style='resize: none'/>
        <div id='send' class='input-group-addon btn btn-primary'>Send</div>
    </div>
</div>


<script src="/share/WebChatAPI/chat.js"></script>
<script src="/socket.io/socket.io.js"></script>